{% extends 'base.html' %} <!--THIS WILL EXTENDS THE base.html SO THAT I CAN JUST REUSE EVERYTHING-->

{% block title%} About {% endblock%} 

{% block content%}
        <div class = "about_container"> 
                <div class="about">
                        <h1>About Angeles Daily</h1>
                        <p><strong>Angeles Daily</strong> is your go-to source for stories, updates, and insights from the heart of Pampanga. Whether you're a local resident, a curious traveler, or someone who simply loves discovering vibrant communities, we bring you the pulse of Angeles City — one article at a time.</p>
                        <p>From neighborhood highlights and cultural events to food spots, weather updates, and local voices, our mission is to keep you informed, inspired, and connected to everything that makes Angeles unique.</p>
                        <p>Founded by passionate storytellers and tech-savvy creatives, Angeles Daily blends journalism, design, and community spirit to deliver content that matters. We believe every street has a story — and we’re here to tell it.</p>
                </div>
         </div>
{% endblock %}