* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
  padding: 0;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

#logo {
    float: left;
    font-size: 1.5em;
}

nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #555;
}
.content {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: none;
}

.main-container {
  display: grid;
  grid-template-areas:
    "news weather"
    "other weather";
  grid-template-columns: 1fr 500px;
  grid-template-rows: auto auto;
  gap: 20px;
  outline: 2px solid red;
  padding: 20px;
    /* Add these to control size */
  width: 100%;
  height: 80vh;
  margin: 60px auto; /*top-bottom and left-right*/

}

/*====================BOXES=============================*/
.news_box {
  grid-area: news;
  width: 100%;
  height: 400px;
  outline: 2px solid red;
  padding: 10px;
  background-color: lightblue;
}

.weather_box {
  grid-area: weather;
  width:500px;
  height: 684px;
  outline: 2px solid red;
  padding: 10px;
  background-color: lightgreen;
}

.other_news_box {
  grid-area: other;
  width: 100%;
  height: 250px;
  outline: 2px solid red;
  padding: 10px;
  background-color: lightcoral;
}
